@media (min-width: 426px) {
    main{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .all-boxes{
            width: 87.8%;
            height: max-content;
            margin-top: 2.5rem;
            display: flex;
            justify-content: normal;
            padding: 0px;
            align-items: center;
            flex-wrap: wrap;
            gap: clamp(1rem, 2.183rem + -1.315vw, 1.875rem);
            li{
                list-style-type: none;
                width: 18.75rem;
                height: 23.75rem;
                border-radius: 0.313rem;
                border: 0.125rem solid var(--grey-100);
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                .img-div{
                    width: 100%;
                    height: fit-content;
                    background-color: var(--grey-0);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 0.313rem 0.313rem 0px 0px;
                    img{
                        width: fit-content;
                        height: 7.5rem;
                    }
                }
                .div-main{
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    padding: 1.25rem;
                    h3{
                        font-family: var(--font-family);
                        font-size: var(--font-size-3);
                        font-weight: var(--bold);
                        color: var(--grey-600);
    
                    }
                    button{
                        font-family: var(--font-family);
                        font-size: var(--font-size-4);
                        font-weight: var(--regular);
                        width: 100%;
                        padding: 1.25rem;
                        color: #ffffff;
                        background-color: var(--color-primary);
                        border: 0.063rem solid var(--color-primary);
                        border-radius: 0.5rem;
                        cursor: pointer;    
                    }
                    button:hover{
                        background-color: #BDBDBD;
                        border: 0.063rem solid #BDBDBD;
                    }
                    .category{
                        font-family: var(--font-family);
                        font-size: var(--font-size-6);
                        font-weight: var(--regular);
                        color: var(--grey-300);
                    }
                    .price{
                        font-family: var(--font-family);
                        font-size: var(--font-size-5);
                        font-weight: var(--semiBold);
                        color: var(--color-primary);
                    }
                }
    
            }
            li:hover{
                border: 0.125rem solid var(--color-primary);
            }
        }
    }
}
@media (max-width: 425px) {
    main{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .all-boxes{
            width: 87.8%;
            height: max-content;
            margin-top: 2.5rem;
            display: flex;
            justify-content: normal;
            padding: 0px;
            align-items: center;
            flex-wrap: nowrap;
            overflow-x: auto;
            gap: clamp(1rem, 2.183rem + -1.315vw, 1.875rem);
            li{
                list-style-type: none;
                width: 18.75rem;
                height: 23.75rem;
                flex-shrink: 0;
                border-radius: 0.313rem;
                border: 0.125rem solid var(--grey-100);
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                .img-div{
                    width: 100%;
                    height: fit-content;
                    background-color: var(--grey-0);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 0.313rem 0.313rem 0px 0px;
                    img{
                        width: fit-content;
                        height: 7.5rem;
                    }
                }
                .div-main{
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    padding: 1.25rem;
                    h3{
                        font-family: var(--font-family);
                        font-size: var(--font-size-3);
                        font-weight: var(--bold);
                        color: var(--grey-600);
    
                    }
                    button{
                        font-family: var(--font-family);
                        font-size: var(--font-size-4);
                        font-weight: var(--regular);
                        width: 100%;
                        padding: 1.25rem;
                        color: #ffffff;
                        background-color: var(--color-primary);
                        border: 0.063rem solid var(--color-primary);
                        border-radius: 0.5rem;
                        cursor: pointer;    
                    }
                    button:hover{
                        background-color: #BDBDBD;
                        border: 0.063rem solid #BDBDBD;
                    }
                    .category{
                        font-family: var(--font-family);
                        font-size: var(--font-size-6);
                        font-weight: var(--regular);
                        color: var(--grey-300);
                    }
                    .price{
                        font-family: var(--font-family);
                        font-size: var(--font-size-5);
                        font-weight: var(--semiBold);
                        color: var(--color-primary);
                    }
                }
    
            }
            li:hover{
                border: 0.125rem solid var(--color-primary);
            }
        }
    }
}